/** Test Login Configuration **/

tcat.oss {
   edu.tamu.tcat.account.jaas.OsgiSpiProxyLoginModule REQUIRED
      osgi.proxy.moduleId="edu.tamu.tcat.account.db.spi.DatabaseLoginModule"
      testOption=here_is_an_option;
   
};

/* THis one will work if the database login module is on the main classpath */
tcat.oss.direct {
   edu.tamu.tcat.account.db.spi.DatabaseLoginModule     REQUIRED
      testOption=here_is_an_option;
   
};
tcat.oss.ldap {
/* Will get a UserPrincipal for the username-credential and one for whatever is in {EMPLOYEENUMBER}, and will get an LdapPrincipal for the DN */
   com.sun.security.auth.module.LdapLoginModule        REQUIRED
      userProvider="ldap://localhost:389/ou=people,dc=example,dc=com"
      /* search by field 'employeeNumber' where class = 'inetOrgPerson' */
      userFilter="(&(employeeNumber={USERNAME})(objectClass=inetOrgPerson))"
      /* when authn succeeds, pull this principal */
      authzIdentity="{EMPLOYEENUMBER}"
      debug=true;
};
