/** Test Login Configuration **/

tcat.oss {
   edu.tamu.tcat.oss.account.test.module.DatabaseLoginModule     REQUIRED
      testOption=here_is_an_option;
   
};
tcat.oss.ldap {
   com.sun.security.auth.module.LdapLoginModule        REQUIRED
      userProvider="ldap://localhost:389/ou=people,dc=example,dc=com"
      /* search by field 'employeeNumber' where class = 'inetOrgPerson' */
      userFilter="(&(employeeNumber={USERNAME})(objectClass=inetOrgPerson))"
      /* when authn succeeds, pull this principal */
      authzIdentity="{EMPLOYEENUMBER}"
      debug=true;
};
